.nav {
  background-color: rgb(247, 232, 197);
  text-decoration: none;
  color: white;
}

/* .navLink {
  background-color: aliceblue;
  text-decoration: none;
  color: white;

} */

a {
  text-decoration: none;
  color: white;
}
